@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <h3>w programie info giełda. </h3>
    <br />
    <h4>
    Możesz dodawać, edytować lub usuwać frazy (wyrazy) wg których program wyszukuje ciekawe informacje giełdowe.</h4>
</div>
