@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>Potwierdzenie</h1>
@{
    
<p>
        Proszę sprawdź swój email celem potwierdzenia konta.
</p>
    
}
